{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="container">
    <div class="row p-2">
        <div class="col">
            <h1 class="text-center">Search</h1>
        </div>
    </div> 
    <div class="row p-2">
        <div class="col">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
                <input type="submit" value="Search" class="button">
            </form>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            {% if search_results %}
            <ul class="list-group">
                {% for result in search_results %}
                <li class="list-group-item">
                    <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
                    {% if result.search_description %}
                    {{ result.search_description }}
                    {% endif %}
                    <nav aria-label="breadcrumb">
                        {% if result.get_ancestors|length > 1 %}
                        <ol class="breadcrumb">
                            {% for p in result.get_ancestors %}
                            {% if p.is_root == False %}
                            <li class="breadcrumb-item"><a href="{{ p.url }}">{{ p.title }}</a></li>
                            {% endif %}
                            {% endfor %}
                            <li class="breadcrumb-item active">{{ self.title }}</li>
                        </ol>
                        {% endif %}
                    </nav>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div> 
    <div class="row p-2">
        <div class="col">
            {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
            {% endif %}
            {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
            {% endif %}
            {% elif search_query %}
            No results found
            {% endif %}
        </div>
    </div> 
</div>
{% endblock %}
