{% load static %}
{% load cache %}
{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailsettings_tags %}
{% load wagtailuserbar %}
{% load render_bundle from webpack_loader %}
{% load bootstrap4 %}
{% load menu_tags %}
{% get_settings %}

<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
        {% render_bundle 'main' 'css' %}
        {% block metadata %}
        {% if self.search_description %}
        <meta name="description" content="{{ self.search_description }}" />
        {% endif %}
        <title>
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% with self.get_site.site_name as site_name %}
            {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        </title>
        {% endblock metadata %}
        
        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>
    <body class="{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}">
        {% block navigation %}
        {% include "menus/bootstrap_5_nav.html" %}
        {% endblock navigation %}

        {% block header %}
        <header>
            {{ settings.wagtail_bs_base.SiteLayoutSettings.header }}
        </header>
        {% endblock header %}

        {% block head-extra %}
        {% endblock head-extra %}

        {% block messages %}
        <div class="container">
            {% bootstrap_messages %}
        </div>
        {% endblock messages %}

        <main>
            {% block content %}
            {% endblock content %}
        </main>

        {% block footer %}
        <footer id="footer">
            <div class=""container-fluid footer navbar-fixed-bottom">
                <div class="row">
                    <div class="col">
                        <ul class="list-unstyled">
                            <li>
                                {{ settings.wagtail_bs_base.SiteLayoutSettings.footer }}
                            </li>
                            <li class="float-lg-right">
                                <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
                                    <i class="fa fas fa-arrow-up"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock footer %}

        {# Global javascript #}
        {% render_bundle 'main' 'js' %}
        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
