@import "_variables.scss";
@import '~font-awesome/css/font-awesome.css';
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,400,700);
@import url("https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");
$headings-font-family:Nunito;

/*! Import Bootstrap 4 variables */
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";


@import "_bootswatch.scss";
@import "~bootstrap/scss/bootstrap";
