{% load menu_tags %}
<ul class="nav navbar-nav">
  {% for item in menu_items %}
  {% if item.has_children_in_menu %}
  <li class="nav-item dropdown">
    <a href="{{ item.href }}"
       class="nav-link dropdown-toggle {{ item.active_class }}"
       id="ddtoggle_{{ item.link_page.pk }}"
       role="button"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">{{ item.text }}<span class="caret"></span></a>
    {% sub_menu item template="menus/bootstrap4/sub_menu_dropdown.html" %}
  </li>
  {% else %}
  <li class="nav-item {{ item.active_class }}">
    <a href="{{ item.href }}" class="nav-link">{{ item.text }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
