{% load menu_tags %}
{% if menu_items %}
<div class="dropdown-menu" aria-labelledby="ddtoggle_{{ parent_page.pk }}">
  {% for item in menu_items %}
  {% if item.has_children_in_menu %}
  <li class="{{ item.active_class }} dropdown">
    <a href="{{ item.href }}" 
       class="dropdown-toggle" 
       id="ddtoggle_{{ item.pk }}" 
       data-toggle="dropdown" 
       data-hover="dropdown" 
       data-delay="400" 
       data-close-others="false" 
       aria-haspopup="true" 
       aria-expanded="false">{{ item.text }}</a>
    {% sub_menu item template=current_template %}
  </li>
  {% else %}
  <a href="{{ item.href }}" class="dropdown-item {{ item.active_class }}">{{ item.text }}</a>
  {% endif %}
  {% endfor %}
</div>
{% endif %}
