{% load static %}
{% load cache %}
{% load wagtailcore_tags %}
{% load wagtailsettings_tags %}
{% load menu_tags %}
{% wagtail_site as current_site %}
{% get_settings %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-main">
        <a class="navbar-brand" href="{% pageurl current_site.root_page %}">
            {% with current_site.site_name as site_name %}
            <img alt="{{ site_name }}" src="{% static 'favicon.ico' %}" width="30" height="30">
            {% if site_name %}<b>{{ site_name }}</b>{% endif %}
            {% endwith %}
        </a>
        {% main_menu max_levels=3 %}
    </div>
</nav>
