{% load menu_tags %}
<ul class="nav navbar-nav">
  {% for item in menu_items %}
  {% if item.has_children_in_menu %}
  <li class="{{ item.active_class }} dropdown">
    <a href="{{ item.href }}" 
       class="dropdown-toggle" 
       id="ddtoggle_{{ item.link_page.pk }}" 
       data-toggle="dropdown" 
       data-hover="dropdown" 
       data-delay="200" 
       data-close-others="true" 
       aria-haspopup="true" 
       aria-expanded="false">{{ item.text }}</a>
    {% sub_menu item template="menus/bootstrap4/sub_menu_dropdown_hover.html" %}
  </li> 
  {% else %}
  <li class="{{ item.active_class }}">
    <a href="{{ item.href }}">{{ item.text }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
