{% load menu_tags %}
<ul class="navbar-nav" style="--bs-scroll-height: 100px;">
  {% for item in menu_items %}
  {% if item.has_children_in_menu %}
  <li class="nav-item dropdown">
    <a href="{{ item.href }}"
       class="nav-link dropdown-toggle {{ item.active_class }}"
       id="ddtoggle_{{ item.link_page.pk }}"
       role="button"
       data-bs-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">{{ item.text }}<span class="caret"></span></a>
    {% sub_menu item template="menus/bootstrap5/sub_menu_dropdown.html" %}
  </li>
  {% else %}
  <li class="nav-item">
    <a href="{{ item.href }}" class="nav-link {{ item.active_class }}">{{ item.text }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
