{% load menu_tags %}
{% if menu_items %}
<ul class="dropdown-menu" aria-labelledby="ddtoggle_{{ parent_page.pk }}">
  {% for item in menu_items %}
  {% if item.has_children_in_menu %}
  <a href="{{ item.href }}" 
    class="nav-link dropdown-toggle" 
    id="ddtoggle_{{ item.pk }}" 
    data-bs-toggle="dropdown" 
    aria-haspopup="true" 
    aria-expanded="false">{{ item.text }} <span class="caret"></span></a>
  {% sub_menu item template=current_template %}
  {% else %}
  <li><a href="{{ item.href }}" class="dropdown-item">{{ item.text }}</a></li>
  {% endif %}
  {% endfor %}
</ul>
{% endif %}
